[core]
	autocrlf = input
	ignorecase = false
	excludesfile = ~/.gitignore_global
	hookspath = ~/.git_settings/hooks
[init]
	defaultBranch = master
[push]
	default = simple
[pull]
	rebase = false
[include]
	path = ~/.gitconfig.local
[pager]
	branch = false
	stash = false
